#projects__block {
  // border: 1px solid red;
  display: flex;
  // width: 200;
  width: 50vw;
  margin-top: 25px;
  // justify-content: space-around;
}

.projectBlock__wrapper {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}
